body {
 padding: 0;
}

.mg-xs-top-10 {
  margin-top: 10px;
}

.thumbnail {
  max-width: 300px !important;
}

.card {
  // text-align: center;
  img { width: 100%; }
}

.star-rating {
  margin: 0;
  padding: 0;
  display: inline-block;

  .star {
    padding: 1px;
    color: #ddd;
    font-size: 20px;
    text-shadow: .05em .05em #aaa;
    list-style-type: none;
    display: inline-block;
    cursor: pointer;

    &.filled {
      color: #fd0;
    }
  }

  &.readonly .star.filled {
    // color: #666;
    color: #fd0;
  }
}

a {
  cursor: pointer;
}

ul.pagination {
  a.page-link {
    cursor: pointer;
  }
}

.form-signin {
  input[type=email], input[type=password] {
    max-width: 300px;
    margin: 5px auto;
  }
}

/* Responsive: Portrait tablets and up */
@media (min-width: 34em) {
  .card {
    img {
      width: 100%;
    }
  }
}

// Medium devices (tablets, 48em and up)
@media (min-width: 48em) {
  .card {
    img {
      width: auto;
      max-width: 100%;
    }
  }
}

// Large devices (desktops, 62em and up)
@media (min-width: 62em) {
  .card {
    img {
      width: auto;
      max-width: 48em;
    }
  }
}

// Extra large devices (large desktops, 75em and up)
@media (min-width: 75em) {
  .card {
    img {
      width: auto;
      max-width: 48em;
    }
  }

}


