<header></header>
<div class="container-fluid" id="about">
  <div class="col-md-6 col-md-offset-3 col-xs-10 col-xs-offset-1">
    <div class="card card-inverse card-success text-center">
      <div class="card-block">
        <blockquote class="card-blockquote">
          <p class="lead">Đây là ứng dụng tủ sách v2.0 của mình, viết bằng AngularJS - FrontEnd và Firebase + ElasticSearch (Full Text Search) ở Back-End.
            <span>(v1.0 mình viết bằng Ruby on Rails và Angular JS)</span>
          </p>
          <p class="lead">
            Ứng dụng này nhằm giúp mình quản lý các đầu sách hiện có của mình (cả sách giấy và Ebook - có bản quyền hoặc không có bản
            quyền), tên sách, tên tác giả, trạng thái (đã đọc, chưa đọc, đang đọc dở dang, sẽ đọc lại sau), tình trạng của chúng
            (có sẵn, cho mượn, đã mất, đem tặng), rating của chính bản thân, review của mình về quyển sách sau khi đã đọc.
            <br/> Ngoài ra, Ứng dụng Tủ sách v2 mà mình đặt tên là FireBooks còn có chức năng là một Kanban (To read, reading, read)
            áp dụng riêng cho việc đọc Sách.
          </p>
          <footer>
            <span style='font-weight:600;'>Dương Vì Phát
            <cite>@ <a href='http://notes.viphat.work' target='_blank'>viphat.work</a></cite>
            .</span>
          </footer>
        </blockquote>
      </div>
    </div>
  </div>
</div>