<div class="table-responsive">
  <table class="table table-striped">
    <thead class="thead-inverse">
      <tr>
        <th>#</th>
        <th>Title</th>
        <th>Author</th>
        <th>Status</th>
        <th>Rating</th>
      </tr>
   </thead>
   <tbody>
    <tr ng-repeat="book in books track by $index">
      <td>{{ $index + 1 }}</td>
      <td>{{ book.title }}</td>
      <td>{{ book.author }}</td>
      <td>{{ book.status }}</td>
      <td>{{ book.rating }}</td>
    </tr>
   </tbody>
  </table>
</div>
   