<div ng-if="book" class="card text-xs-center">
  <img ng-show="!isEditing && book.image_url != ''" class="card-img-top" ng-src="{{book.image_url}}" alt="Book Cover"/>
  <div ng-show='!isUploading && isEditing' class="form-group mg-xs-top-10" >
    <input type='file' accept='image/*' on-file-changed="uploadToImgur" />
  </div>
  <img ng-show="isEditing && book.image_url != ''" class="card-img-top thumbnail" ng-src="{{book.image_url}}" alt="Book Cover"/>
  <div class="card-block">
    <div class="table-responsive">
      <table class="table table-sm table-bordered table-striped">
        <tbody>
          <tr>
            <td style="width: 180px;">Sách</td>
            <td><strong>{{ book.title }}</strong></td>
          </tr>
          <tr>
            <td>Tác giả</td>
            <td><strong>{{ book.author }}</strong></td>
          </tr>
          <tr>
            <td>Phân loại</td>
            <td>
              <span ng-if="book.book_type == 'paper' ">Sách giấy</span>
              <span ng-if="book.book_type == 'ebook' ">EBook</span>
              <span ng-if="book.book_type == 'online_course' ">Khóa học trực tuyến</span>
            </td>
          </tr>
          <tr>
            <td>Tình trạng đọc</td>
            <td>
              <span ng-if="book.reading_status == 'to_read' ">Chưa đọc</span>
              <span ng-if="book.reading_status == 'want_to_read' ">Dự định đọc</span>
              <span ng-if="book.reading_status == 'reading' ">Đang đọc</span>
              <span ng-if="book.reading_status == 'read' ">Đã đọc</span>
              <span ng-if="book.reading_status == 'read_again' ">Cần đọc lại trong tương lai</span>
            </td>
          </tr>
          <tr>
            <td>Tình trạng hiện tại</td>
            <td>
              <span ng-if="book.current_status=='available'">Sẵn có</span>
              <span ng-if="book.current_status=='has_lost'">Đã mất</span>
              <span ng-if="book.current_status=='has_lent'">Cho mượn - Người giữ {{ book.borrower }}</span>
              <span ng-if="book.current_status=='licensed'">Có bản quyền</span>
              <span ng-if="book.current_status=='not_licensed'">Không có bản quyền</span>
            </td>
          </tr>
          <tr>
            <td>Đánh giá</td>
            <td>
              <span ng-if="book.rating == 0">Chưa đánh giá</span>
              <span ng-if="book.rating > 0">{{ book.rating }}</span>
            </td>
          </tr>
          <tr>
            <td>Nhận xét</td>
            <td>
              <span ng-if="book.review == '' ">Chưa có nhận xét</span>
              <span ng-if="book.review != '' " ng-bind="book.review"></span>
            </td>
          </tr>
          <tr>
            <td>Bài viết trên Blog</td>
            <td>{{ book.review_url }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="card-footer text-xs-left">
    <a ng-show="!isEditing" ng-click="edit()" class="card-link">Edit</a>
    <a ng-show="!isEditing" ng-click="destroy()" class="card-link">Delete</a>
    <a ng-show="!isEditing" ng-click="setSubView('viewAllBooks')" class="card-link">Go back</a>
    <a ng-show="isEditing" ng-click="save()" class="card-link">Save</a>
    <a ng-show="isEditing" ng-click="resetForm()" class="card-link">Cancel</a>
  </div>
</div>