<div id="AddNewBook" page-wrapper="">
  <div class="card text-xs-center">
    <div ng-show='!isUploading' class="form-group mg-xs-top-10" >
      <label class="file text-xs-left">
        <input type='file' accept='image/*' on-file-changed="uploadToImgur" />
        <span class="file-custom"></span>
      </label>
    </div>
    <heart-pulse ng-show='isUploading'></heart-pulse>
    <img ng-show="book.image_url != '' && book.image_url != undefined" class="card-img-top thumbnail" ng-src="{{book.image_url}}" alt="Book Cover"/>
    <div class="card-block">
      <div class="table-responsive">
        <form>
        <table class="table table-sm table-bordered table-striped">
          <tbody>
            <tr>
              <td style="width: 180px;">Sách</td>
              <td>
                <input type="text" class="form-control" ng-model="book.title" placeholder="Book Title" required="required" />
              </td>
            </tr>
            <tr>
              <td style="width: 180px;">Slug</td>
              <td>
                <input type="text" class="form-control" ng-model="book.slug" placeholder="Slug" required="required" />
              </td>
            </tr>
            <tr>
              <td>Tác giả</td>
              <td>
                <input type="text" class="form-control" ng-model="book.author" placeholder="Book Author" required="required" />
              </td>
            </tr>
            <tr>
              <td>Phân loại</td>
              <td>
                <label class="checkbox-inline c-input c-radio">
                  <input type="radio" ng-model="book.book_type" value="paper"><span class="c-indicator"></span>&nbsp;Sách giấy
                </label>
                <label class="checkbox-inline c-input c-radio">
                  <input type="radio" ng-model="book.book_type" value="ebook"><span class="c-indicator"></span>&nbsp;Ebook
                </label>
                <label class="checkbox-inline c-input c-radio">
                  <input type="radio" ng-model="book.book_type" value="online_course"><span class="c-indicator"></span>&nbsp;Khóa học trực tuyến
                </label>
              </td>
            </tr>
            <tr>
              <td>Tình trạng đọc</td>
              <td>
                <select class="form-control c-select" ng-model="book.reading_status">
                  <option value="to_read">Chưa đọc</option>
                  <option value="want_to_read">Dự định đọc</option>
                  <option value="reading">Đang đọc</option>
                  <option value="read">Đã đọc</option>
                  <option value="need_to_read_again">Sẽ đọc lại</option>
                </select>
              </td>
            </tr>
            <tr>
              <td>Tình trạng hiện tại</td>
              <td>
                <select class="form-control c-select" ng-model="book.current_status">
                  <option value="available">Sẵn có</option>
                  <option value="has_lost">Đã mất</option>
                  <option value="has_lent">Cho mượn</option>
                  <option value="has_given">Đã tặng</option>
                  <option value="licensed">Có bản quyền</option>
                  <option value="not_licensed">Không có bản quyền</option>
                </select>
                <input ng-if="book.current_status == 'has_lent' " type="text" ng-model="book.borrower" class="form-control mg-xs-top-10" placeholder="Người mượn" />
                <input ng-if="book.current_status == 'has_given' " type="text" ng-model="book.receiver" class="form-control mg-xs-top-10" placeholder="Người nhận" />
              </td>
            </tr>
            <tr>
              <td>Đánh giá</td>
              <td>
                <div star-rating="" ng-model="book.rating" on-rating-select="ratingSelected"></div>
              </td>
            </tr>
            <tr>
              <td>Nhận xét</td>
              <td>
                <textarea class="form-control" rows="5" ng-model="book.review"></textarea>
              </td>
            </tr>
            <tr>
              <td>Blog</td>
              <td>
                <div class="input-group">
                  <span class="input-group-addon">Link</span>
                  <input type="text" class="form-control" ng-model="book.review_url" />
                </div>
              </td>
            </tr>
            <tr>
              <td>Ghi chú</td>
              <td>
                <textarea class="form-control" rows="3" ng-model="book.more_info"></textarea>
              </td>
            </tr>
          </tbody>
        </table>
        </form>
      </div>
    </div>
    <div class="card-footer text-xs-left">
      <a ng-click="create()" class="card-link">Create</a>
    </div>
  </div>
</div>