<h3 class="hidden-xs-down">
  Statistics
</h3>

<div class="alert alert-warning" role="alert" id="myAlert">
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">×</span>
    <span class="sr-only">Close</span>
  </button>
  <heart-pulse ng-show='isLoading'></heart-pulse>
  <blockquote ng-if="!isLoading">
    <p class="m-b-0" marked="quote.content "></p>
    <footer class="text-muted" marked="quote.source"></footer>
  </blockquote>
</div>

<div class="row">
  <div class="col-lg-3 col-md-6">
    <div class="card card-inverse card-success">
      <div class="card-block bg-success">
        <div class="rotate">
          <i class="fa fa-archive fa-5x"></i>
        </div>
        <h6 class="text-uppercase">Books</h6>
        <heart-pulse ng-show='isLoading'></heart-pulse>
        <h1 ng-show='!isLoading' class="display-1" ng-bind="countOfAllBooks"></h1>
      </div>
    </div>
  </div>

  <div class="col-lg-3 col-md-6">
    <div class="card card-inverse card-danger">
      <div class="card-block bg-danger">
        <div class="rotate">
          <i class="fa fa-book fa-4x"></i>
        </div>
        <h6 class="text-uppercase">Print Book</h6>
        <heart-pulse ng-show='isLoading'></heart-pulse>
        <h1 ng-show='!isLoading' class="display-1" ng-bind="countOfPrintedBooks"></h1>
      </div>
    </div>
  </div>

  <div class="col-lg-3 col-md-6">
    <div class="card card-inverse card-danger">
      <div class="card-block bg-info">
        <div class="rotate">
          <i class="fa fa-file-pdf-o fa-4x"></i>
        </div>
        <h6 class="text-uppercase">eBook</h6>
        <heart-pulse ng-show='isLoading'></heart-pulse>
        <h1 ng-show='!isLoading' class="display-1" ng-bind="countOfDigitalBooks"></h1>
      </div>
    </div>
  </div>

  <div class="col-lg-3 col-md-6">
    <div class="card card-inverse card-danger">
      <div class="card-block bg-warning">
        <div class="rotate">
          <i class="fa fa-eye fa-4x"></i>
        </div>
        <h6 class="text-uppercase">Read</h6>
        <heart-pulse ng-show='isLoading'></heart-pulse>
        <h1 ng-show='!isLoading' class="display-1" ng-bind="countOfReadBooks"></h1>
      </div>
    </div>
  </div>
</div>